<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intento2"
        tools:targetApi="31" >
        <activity
            android:name=".coded.UserSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".coded.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.HighScoresAdapter"
            android:exported="false" />
        <activity
            android:name=".coded.HighScoresActivity"
            android:exported="false" />
        <activity
            android:name=".coded.JuegoReanudado"
            android:exported="false" />
        <activity
            android:name=".coded.FinPartida"
            android:exported="false" />
        <activity
            android:name=".coded.Juego"
            android:exported="false" />
        <activity
            android:name=".coded.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>